################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Quality Projects/Reliablity/ANOVA Calculator.py
/Quality Projects/Reliablity/Relability Calculator.py
